
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

body {
  font-family: var(--font-family);
  color: var(--text-main);
}

.container {
  padding-top: 36px;
  padding-left: 156px;
}

.datetimer-input {
  padding-left: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 36px;

}

.start-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #989898;

  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  height: 40px;
  background: #cfcfcf;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #2e2f42;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #2e2f42;
}

.field {
  display: flex;
  flex-direction: column;
}